body{
  max-width: 1200px;
  width:90%;
  margin: 0 auto;
  font-family: Arial;

}

#main-container{
  display: flex;
  height: auto;

}
#left-container{
  width: 50%;
  border: 1px solid black;
}

#right-container{
  width: 100%;
  border: 1px solid black;
}
